[submodule "amf"]
	path = NFs/amf
	url = git@github.com:acore2026/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = git@github.com:acore2026/ausf.git
[submodule "nrf"]
	path = NFs/nrf
	url = git@github.com:acore2026/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = git@github.com:acore2026/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = git@github.com:acore2026/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = git@github.com:acore2026/smf.git
[submodule "udm"]
	path = NFs/udm
	url = git@github.com:acore2026/udm.git
[submodule "udr"]
	path = NFs/udr
	url = git@github.com:acore2026/udr.git
[submodule "upf"]
	path = NFs/upf
	url = git@github.com:acore2026/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = git@github.com:acore2026/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = git@github.com:acore2026/chf.git
[submodule "tngf"]
	path = NFs/tngf
	url = git@github.com:acore2026/tngf.git
[submodule "NFs/nef"]
	path = NFs/nef
	url = git@github.com:acore2026/nef.git
[submodule "NFs/bsf"]
	path = NFs/bsf
	url = git@github.com:acore2026/bsf.git
[submodule "ueransim-go"]
	path = ueransim-go
	url = git@github.com:acore2026/ueransim-go.git
